.fieldname-quote .input{
    position:relative;
    padding-left:3em;
    padding-right:3em;
}
    .fieldname-quote .input:before{
        content:"\201C";
        position:absolute;
        font-family:Bitter, Georgia, Serif;
        font-size:5em;
        line-height:1em;
        left:0;
        color:#CCC;
    }
    .fieldname-quote .input:after{
        content:"\201C";
        position:absolute;
        font-family:Bitter, Georgia, Serif;
        font-size:5em;
        line-height:1em;
        right:0;
        top:0;
        color:#CCC;
    }
    .fieldname-quote input,
    .fieldname-quote textarea{
        font-style: italic;
        font-size:2em;
        padding-bottom:0;
    }


.fieldname-attribution .input{
    padding-left:1em;
    position:relative;
}
    .fieldname-attribution .input:before{
        content: "\2014";
        position: absolute;
        left: 0;
    }
    .fieldname-attribution .field-content{
        margin-left:2em;
    }
