Django>=1.9,<1.10
psycopg2==2.6
django-compressor>=1.4
django-modelcluster>=0.6
wagtail>=1.5,<1.6
django-taggit>=0.14.0
django-libsass>=0.2
libsass==0.8.2
Pillow==2.8.1

# Dependencies for hosting
django-redis==3.8.2
elasticsearch==1.2.0

# Dependencies for Heroku deployment
dj-database-url==0.3.0
whitenoise==2.0.4
uwsgi==2.0.11.2
