{% extends "core/base.html" %}


{% if self.date %}
    {% block heading %}
        <div class="page-header">
            <h2>{{ self.title }} {{ self.date|date:"j F Y" }}</h2>
        </div>
    {% endblock %}
{% endif %}

{% block content %}
    {% include "core/includes/carousel.html" with carousel_items=self.carousel_items.all only %}

    {% include "core/includes/body.html" with body=self.body only %}

    {% if self.tags.all.count > 0 %}
        <div class="page-header"><h3>Tags</h3></div>
        {% with self.tags.all as tags %}
            {% for tag in tags %}
                <a href="{{ global_blogs_index_url }}?tag={{ tag }}"><button class="btn btn-primary" type="button">{{ tag }}</button></a>
            {% endfor %}
        {% endwith %}
    {% endif %}

    {% include "core/includes/related_links.html" with related_links=self.related_links.all only %}
{% endblock %}
